@font-face {
  font-family: "iconfont"; /* Project id 3114630 */
  src: url('//at.alicdn.com/t/font_3114630_c6qyby3o0cp.woff2?t=1641527680600') format('woff2'),
       url('//at.alicdn.com/t/font_3114630_c6qyby3o0cp.woff?t=1641527680600') format('woff'),
       url('//at.alicdn.com/t/font_3114630_c6qyby3o0cp.ttf?t=1641527680600') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-history1:before {
  content: "\e6a3";
}

.icon-plus:before {
  content: "\e8fe";
}

.icon-xitongfanhui:before {
  content: "\e6b6";
}

.icon-wenjianjia:before {
  content: "\e67c";
}

.icon-wenjianjia_o:before {
  content: "\eb4f";
}

.icon-wendang:before {
  content: "\e600";
}

.icon-editor:before {
  content: "\e6f5";
}
