@font-face {
  font-family: "iconfont"; /* Project id 3114630 */
  src: url("//at.alicdn.com/t/font_3114630_fymu08jyvt.woff2?t=1641184681182")
      format("woff2"),
    url("//at.alicdn.com/t/font_3114630_fymu08jyvt.woff?t=1641184681182")
      format("woff"),
    url("//at.alicdn.com/t/font_3114630_fymu08jyvt.ttf?t=1641184681182")
      format("truetype");
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-folder:before {
  content: "\e898";
}

.icon-gerenxinxi-:before {
  content: "\e62b";
}

.icon-logout:before {
  content: "\e64b";
}

.icon-yaoqingma:before {
  content: "\e638";
}

.icon-xiangmu:before {
  content: "\e6c7";
}
