.elipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.scrollbar::-webkit-scrollbar-track {
  border-radius: 10px;
}
.scrollbar::-webkit-scrollbar-thumb {
  background-color: #0003;
  border-radius: 10px;
  transition: all 0.2s ease-in-out;
}

.scrollbar::-webkit-scrollbar {
  width: 6px;
}
